.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 3px 4px grey;
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
  margin: auto;
}
