@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* a {
  text-decoration: none;
} */

/* This prevents all the links in the app from turning purple after visiting */
/* a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  font-size: 30px;
} */
